{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Yak Favorites</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>

    <body>
            {% comment %}
             logo and nav bar included below
             see respective templates to make changes or review
            {% endcomment %}

    <div id="container_1">
        <div id="box_1">
            {% include 'logo.html' %} </div>
        <div id="box_3">
            {% include 'nav.html' with nav_location=view.location %}
        </div>
        <div  id="box_2">


            {% comment %}
             this is where saved rivers are displayed
            {% endcomment %}


            {% for i in site_list  %}
            {% comment %}

            {% endcomment %}
            <div>
                <p class="yellow yak_font bigger_font text_center">
                    {{i}}
                    {% for site in stream|slice:"1" %}
                    <a class="no_decor yak_font bigger_font yellow" href="{% url 'yktrkr:favorite_delete' pk=site.pk %}">- Delete</a>
                    {% endfor %}
                </p>
            </div>
            <div>
            </div>
            {% endfor %}




        </div>



    </div>
    </div>
</body>

</html>