{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yak Favorites</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <div id="container_1">
        <div id="box_1">
            {% include 'logo.html' %} </div>
        <div id="box_3">
            {% include 'nav.html' with nav_location=view.location %}
        </div>
        <div  id="box_2">
            {% for site in stream %}

            <div>
                <ul class="background_brown">
                    <li class="background-brown yellow yak_font bigger_font text_center">{{site.site_name}}
                        {{site_list.0}}
                        <a class="no_decor yellow" href="{% url 'yktrkr:favorite_delete' pk=site.pk %}">- Delete</a>
                    </li>
                </ul>
            </div>


            {% endfor %}
        </div>



    </div>
    </div>
</body>

</html>