{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>yak</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  {% if user.is_authenticated %}
  <div id="container_1">
    <div id="box_1">
      <h1 class="text_center">yak <img class="smaller_img" src="/static/image/yak_2.png" alt=""></h1>
    </div>
    <div id="box_3">
      {% include "nav.html" with nav_location=view.location %}
    </div>
    <div id="box_2">
      <h2 class="yellow text_center yak_font bigger_font">{{ user.username }}!</h2>
      <a href="{% url 'yktrkr:favorite_list' %}" class="yellow text_center yak_font bigger_font">These are your saved sites!</a>

      {% for site in sites %}
      <p class=" yellow">{{site_list}}</p>
      {% endfor %}



    </div>
  </div>

  {% else %}
  <div id="container_1">
    <div id="box_1">
      <h1 class="text_center">yak <img class="smaller_img" src="/static/image/yak_2.png" alt=""></h1>
    </div>
    <div id="box_2">
      <div><a class="yellow yak_font bigger_font no_decor text_center" href="{% url 'yktrkr:register' %}">Register</a></div>
      <div><a class="yellow yak_font bigger_font no_decor text_center" href="{% url 'yktrkr:login' %}">Login</a></div>


    </div>
  </div>

  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
</body>

</html>