{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yak Launch</title>
</head>
<body>
        <div id="container_1">
                <div id="box_1">
                    <h1 class="text_center">yak <img class="smaller_img" src="/static/image/yak_2.png" alt=""></h1>
                </div>
                <div id="box_3">
                    {% include 'nav.html' with nav_location=view.location %}
                </div>
                <div id="box_2">

                        <h2 class="yellow yak_font text_center">These are the river access points near you</h1>
                        <iframe class="move_it"
                        width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDMKWD14ThfiYJ1foG-sTTKzKmZCI86Sdo
                          &q=river+access" allowfullscreen>
                      </iframe>
                      {% comment "add js function for altering search input" %}
                    add js function for altering search input
                      {% endcomment %}



                </div>
            </div>


</body>
</html>