{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yak Levels</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <div id="container_1">
        <div id="box_1">
            <h1 class="text_center">yak <img class="smaller_img" src="/static/image/yak_2.png" alt=""></h1>
        </div>
        <div id="box_3">
            {% include 'nav.html' with nav_location=view.location %}
        </div>
        <div id="box_2">
            <form class="text_center yak_font margin_top" action="/levels" method="get">
                {% csrf_token %}
                <input  type="text" name="q" placeholder="search for a river or town" value="{{ query }}">
                <input class="search_bar" type="submit" value="Search">
            </form>
            <h2 class="text_center yellow yak_font bigger_font">sites</h2>

            {% for i in site_list  %}


            <div>
                <p class="background_brown text_center yellow no_decor bigger_font yak_font" name='s'>{{i}}-ft<button
                    name='{{site_list}}' class="fav_butt" id="fav_butt">favorite</button></p>
                </div>

                {% endfor %}


        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
        let site_name = '{{just_name}}'
        let userName = '{{user.id}}'


        $('.fav_butt').click(function () {
            console.log('button name', $('.fav_butt').attr('name'))
            $.ajax({
                url: "/favorites",
                method: "POST",
                data: {
                    site_name: $('.fav_butt').attr('name'),
                    user: '{{user.id}}',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (json) {
                    alert('site saved')
                }

            })

        })
        $('.butt').click(function () {
            var userid = parseInt("{{user.id}}")
            var siteName = '{{just_name}}';
            $.ajax({
                url: "/favs",
                type: "GET",
                data: {
                    siteName: siteName,
                    userid: userid
                }
            }).done(function (data) {
                alert(data); //do what you want to do with response
            });
        });

        $(function() {
            $(".search_bar").click(function() {
              $(".fav_butt").toggleClass("show");
            });
          });
    </script>
</body>

</html>