{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>levels</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    <div id="container_1">
        <div id="box_1">
            <h1 class="text_center">yak <img class="smaller_img" src="/static/image/yak_2.png" alt=""></h1>
        </div>
        <div id="box_3">
            {% include 'nav.html' with nav_location=view.location %}
        </div>
        <div id="box_2">
                <form class="text_center yak_font" action="/search/" method="get">
                    <input type="text" name="q">
                    <input type="submit" value="Search">
                </form>
            <h2 class="text_center yellow yak_font bigger_font">sites</h2>
            <p class="text_center yellow no_decor bigger_font yak_font">{{site_name}}
                </p>
            {% for site_name in level_data %}

            <p class="text_center yellow no_decor">{{site_name}}</p>

            {% endfor %}
        </div>
    </div>

</body>

</html>