{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="text_center background_brown">
        <a class="yellow no_decor yak_font medium_font" href="{% url 'yktrkr:index' %}">home |</a>
        <a class="yellow no_decor yak_font medium_font" href="{% url 'yktrkr:levels' %}">water levels |</a>
        <a class="yellow no_decor yak_font medium_font" href="{% url 'yktrkr:weather' %}">weather |</a>
        <a class="yellow no_decor yak_font medium_font" href="{% url 'yktrkr:launch' %}">river access |</a>
        <a class="yellow no_decor yak_font medium_font" href="{% url 'yktrkr:logout' %}">logout</a>
    </nav>

</body>
</html>